* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*HEADER*/
.logo {
  width: 155px;
  margin-top: 10px;
}
.header {
  font-family: "Rubik", sans-serif;
  width: 100%;
  position: fixed;
  top: 0;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #4a4a4a;
  background-color: white;
}
.list {
  list-style-type: none;
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 13px;
}
.list-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  padding-right: 20px;
}
.link {
  display: flex;
  justify-content: center;
  list-style-type: none;
}
/*MAIN*/
.section {
  height: 100vh;
  background-color: #3cdbc0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: #ffffff;
  font-family: "Rubik", sans-serif;
}
@media all and (min-width: 768px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 30px 20px 30px;
  }

  .section {
    font-size: 40px;
  }
}
