* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

/*HEADER*/
.logo {
  width: 155px;
}
.header {
  width: 100%;
  position: fixed;
  top: 0;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #4a4a4a;
  background-color: white;
  padding: 10px 0 3px 0;
}
.list {
  list-style-type: none;
  display: flex;
  justify-content: center;
}
.link {
  text-decoration: none;
  text-transform: uppercase;
  color: #4a4a4a;
  padding: 10px;
}
/*MAIN*/
.section {
  height: 100vh;
  background-color: #3cdbc0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: #ffffff;

  text-transform: capitalize;
}
@media all and (min-width: 768px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 20px 20px 30px;
  }

  .section {
    font-size: 40px;
  }
}
